/* GENERAL section */

body {
	margin: 0 auto;
	font-family: 'Blinker', sans-serif;
	height: 100vh;
}

.text-center {
	text-align: center;
}

/* .text-center span {
	font-size: 1.5rem;
	font-weight: bold;
	color: blue;
} */



/****************************** HEADER section *******************************/

header {
	height: 10vh;
	background-color: #599FD9;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h2 {
	font-family: 'Saira Stencil One', cursive;
	color: #ffffff;
	margin: 0;
}

/****************************** SIDEBAR section *******************************/

.sidebar-nav {
	background: #6e92c2; 
	height: 85vh;
	max-width: 13rem;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 10vh;
	padding-top: 1rem;
	width: 13rem;
	box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.1);
}

#avatar {
	width: 12vh;
}

.nav-thumbnail-color {
	background: #599fd9; 
}

.nav-text-color {
	color: #599fd9 !important;
	font-weight: bold;
}

.nav-text-font {
	font-size: .9rem;
}

.nav-item:hover {
	background-color: lightblue;
} 

.sidebar-link-large {
	font-size: 1.2rem;
}

.sidebar-link {
	color: #599fd9;
}

.nav-logout-color {
	color: #f21b1b !important;
/* 	font-weight: bold; */
}



/****************************** PAGE CONTENT section *******************************/

.page-content {
	background: lightblue;
	width: calc(100% - 13rem); 
	height: 85vh;
	margin-left: 13rem;
	overflow-y: auto;
	padding: 1rem;
}

.page-content-friendship {
	background: lightblue;
}

.page-content h4 > span {
	margin-left: .3rem;
	font-weight: bold;
}


#update {
  height: 1.5rem;
  color: #000000;
}

.friend-card {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.friend-username {
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0;
}

.col-border {
	border: 2px solid black;
/* 	box-shadow: 3px 3px 3px blue, -3px -3px 3px blue; */
	background-color: #ff5454;
}

.col-border-friends {
	background-color: #63f263;
}

.button-container {
	margin: .5rem 0;
}




/****************************** FOOTER section *******************************/

footer {
	height: 5vh;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #599FD9;
}

footer p {
	margin: 0;
	font-weight: bold;
	font-size: 1.2rem;
}