body {
	margin: 0 auto;
	background: lightblue;
}

.login-form {
	width: 35rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);	
	margin: 0 auto;
	padding: 2rem 2rem;
	box-shadow: 1px 3px 3px grey, -1px -1px 3px grey;
	display: flex;
	flex-flow: column;
	align-items: center;
	background: white;	
	position: fixed;

}

.login-form h3 {
	margin: 0;
}

.login-input {
	width: 90%;
	height: 4rem;
	border: none;
	padding-left: 1rem;
	margin-bottom: 1rem;
	background: #dfecf0;
}

.login-button {
	width: 90%;
	margin-bottom: 1rem;
	height: 4rem;
	background: lightblue;
	border: none;
	font-weight: bold;
}

.regi-text {
	font-size: .9rem;
	margin: 0 auto 1rem;
}

.regi-pass-input {
	margin-bottom: 0;
}

.regi-check {
	margin: 0 auto;
	font-size: 1rem;
}